# Entorno
.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store

# Datos confidenciales
*.csv
*.xlsx
data/external/*
*.parquet
.env


# Archivos temporales y binarios
*.pkl
*.h5
*.db
*.zip
*.log

# MLflow & DVC cache
mlruns/
.dvc/
.cache/

# Ignorar configuración VS Code, excepto settings.json
.vscode/*
!.vscode/settings.json
